sample_pdfs/
sample_report.pdf
test_output.csv
test_page2.csv
test_all.csv
output/
/BF8_merged_all.csv
BF8_hot_metal_slag*.csv
BF8_hot_metal_slag*.xlsx
BF8_skip_iron_ore*.csv
BF8_skip_iron_ore*.xlsx
BF8_pellet_analysis*.csv
BF8_pellet_analysis*.xlsx
BF8_skip_sinter*.csv
BF8_skip_sinter*.xlsx
BF8_skip_fines*.csv
BF8_skip_fines*.xlsx
BF8_coke_quality*.csv
BF8_coke_quality*.xlsx
BF8_sinter_plant*.csv
BF8_sinter_plant*.xlsx
BF8_production_parameters*.csv
BF8_production_parameters*.xlsx
fake_drive/
__pycache__/
*.pyc
.ipynb_checkpoints/
